## Exercises

1. Create a new file named `model_evaluation.py` or `model_evaluation.ipynb` for these exercises.

2. Given the following confusion matrix, evaluate (by hand) the model's performance.

        |               | pred dog   | pred cat   |
        |:------------  |-----------:|-----------:|
        | actual dog    |         46 |         7  |
        | actual cat    |         13 |         34 |
        

    - In the context of this problem, what is a false positive?
    - In the context of this problem, what is a false negative?
    - How would you describe this model?

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix

In [3]:
df = pd.DataFrame({'pred_dog': [46, 13], 'pred_cat': [7, 34]}, index=['actual_dog', 'actual_cat'])

In [4]:
df

            pred_dog  pred_cat
actual_dog        46         7
actual_cat        13        34

In [7]:
rubric_df = pd.DataFrame([['True Negative', 'False positive'], ['False Negative', 'True Positive']], columns=df.columns, index=df.index)

In [8]:
rubric_df

                  pred_dog        pred_cat
actual_dog   True Negative  False positive
actual_cat  False Negative   True Positive

In [9]:
rubric_df + ': ' + df.values.astype(str)

                      pred_dog           pred_cat
actual_dog   True Negative: 46  False positive: 7
actual_cat  False Negative: 13  True Positive: 34

In [ ]:
# 
# Positive Class: Cat
#

In [10]:
# Recall: TP / (TP + FN)
recall = 34 / (34 + 13)
# Precision: TP / (TP + FP)
precision = 34 / (34 + 7)
# Accuracy : (TP + TN) / (TP + TN + FP + FN)
accuracy = (34 + 46) / df.values.sum()

In [11]:
accuracy

0.8

In [12]:
precision

0.8292682926829268

In [13]:
recall

0.723404255319149

3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant. 

    Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions [can be found here](https://ds.codeup.com/data/c3.csv).
    
    Use the predictions dataset and pandas to help answer the following questions:
    
    - An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
    - OPTIMIZE FOR: RECALL
    
    - Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
    -OPTIMIZE FOR: PRECISION

In [14]:
df = pd.read_csv('https://ds.codeup.com/data/c3.csv')

In [15]:
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [17]:
df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [18]:
df['baseline'] = 'No Defect'

In [19]:
pd.crosstab(df.baseline, df.actual)

actual     Defect  No Defect
baseline
No Defect      16        184

In [20]:
rubric_df = pd.DataFrame(rubric_df.values, columns=['Pred_Good', 'Pred_Defect'], index=['Act. Good', 'Act Defect'])

In [23]:
confusion_matrix(df.baseline, df.actual, labels=('No Defect', 'Defect')).T

array([[184,   0],
       [ 16,   0]])

In [21]:
rubric_df

                 Pred_Good     Pred_Defect
Act. Good    True Negative  False positive
Act Defect  False Negative   True Positive

In [ ]:
#  Problem 1: Internal/Manufacturing: Optimize for Recall

In [24]:
subset_actual = df[df.actual == 'Defect']
(subset_actual.actual == subset_actual.model1).mean()

0.5

In [25]:
(subset_actual.actual == subset_actual.model2).mean()

0.5625

In [26]:
(subset_actual.actual == subset_actual.model3).mean()

0.8125

In [27]:
# We will choose model #3 for the internal team as it has the highest Recall Score at 81%

0.0

In [28]:
# Problem 2: Marketing: Optimize for Precision

In [35]:
subset = df[df.model1 == 'Defect']
(subset.actual == subset.model1).mean()

0.8

In [36]:
subset = df[df.model2 == 'Defect']
(subset.actual == subset.model2).mean()

0.1

In [37]:
subset = df[df.model3 == 'Defect']
(subset.actual == subset.model3).mean()

0.13131313131313133

In [ ]:
# We will pick model #1 for the marketing team

4. You are working as a data scientist for Gives You Paws &#8482;, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

    At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

    Several models have already been developed with the data, and [you can find their results here](https://ds.codeup.com/data/gives_you_paws.csv).

In [38]:
df = pd.read_csv('https://ds.codeup.com/data/gives_you_paws.csv')

In [39]:
df.actual.value_counts().idxmax()

'dog'

In [40]:
modelcols = df.columns[1:]

In [41]:
output = {}
for model in modelcols:
    accuracy = (df.actual == df[model]).mean()
    output.update({model:accuracy})

In [42]:
output

{'model1': 0.8074, 'model2': 0.6304, 'model3': 0.5096, 'model4': 0.7426}

In [44]:
# phase 1: Recall
subset = df[df.actual == 'dog']
(subset.actual == subset.model1).mean()

0.803318992009834

In [45]:
(subset.actual == subset.model2).mean()

0.49078057775046097

In [46]:
(subset.actual == subset.model3).mean()

0.5086047940995697

In [47]:
(subset.actual == subset.model4).mean()

0.9557467732022127

In [43]:
# a: model 4
# phase 2: Precision
subset = df[df.model1 == 'dog']
(subset.actual == subset.model1).mean()
# etc

0.8900238338440586

In [48]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

In [49]:
subset = df[df.actual == 'dog']
{model: accuracy_score(df.actual, df[model]) for model in modelcols}

{'model1': 0.8074, 'model2': 0.6304, 'model3': 0.5096, 'model4': 0.7426}

In [50]:
print("Model 1")
pd.DataFrame(classification_report(df.actual, df.model1,output_dict=True))

Model 1

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.689772     0.890024    0.8074     0.789898      0.820096
recall        0.815006     0.803319    0.8074     0.809162      0.807400
f1-score      0.747178     0.844452    0.8074     0.795815      0.810484
support    1746.000000  3254.000000    0.8074  5000.000000   5000.000000

In [51]:
print("Model 2")
pd.DataFrame(classification_report(df.actual, df.model2,output_dict=True))

Model 2

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.484122     0.893177    0.6304     0.688649      0.750335
recall        0.890607     0.490781    0.6304     0.690694      0.630400
f1-score      0.627269     0.633479    0.6304     0.630374      0.631310
support    1746.000000  3254.000000    0.6304  5000.000000   5000.000000

In [54]:
print("Model 3")
pd.DataFrame(classification_report(df.actual, df.model3,output_dict=True)).T

Model 3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [53]:
print("Model 4")
pd.DataFrame(classification_report(df.actual, df.model4,output_dict=True))

Model 4

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.807229     0.731249    0.7426     0.769239      0.757781
recall        0.345361     0.955747    0.7426     0.650554      0.742600
f1-score      0.483755     0.828560    0.7426     0.656157      0.708154
support    1746.000000  3254.000000    0.7426  5000.000000   5000.000000

5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

    - [`sklearn.metrics.accuracy_score`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html)
    - [`sklearn.metrics.precision_score`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html)
    - [`sklearn.metrics.recall_score`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.html)
    - [`sklearn.metrics.classification_report`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

    A. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

    B. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

    C. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?